<div class="container text-center">
    <div class="row align-items-center mt-5">
      <div class="col align-self-center">
        <button type="button" class="btn btn-primary bg-white text-dark" (click)="crearSucursal()">Crear sucursal</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre de sucursal</th>
              <th>Telefono</th>
              <th>Nombre completo del gerente</th>
              <th>Provincia</th>
              <th>Canton</th>
              <th>Distrito</th>
              <th>Fecha de inicio de gerencia</th>
              <th>Fecha de apertura</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sucursal of sucursales">
              <th>{{ sucursal.nombre_sucursal }}</th>
              <td>{{ sucursal.telefono }}</td>
              <td>{{ nombreCompleto(sucursal)}}</td>
              <td>{{ sucursal.cedula_trabajador_gerente }}</td>
              <td>{{ sucursal.provincia }}</td>
              <td>{{ sucursal.canton }}</td>
              <td>{{ sucursal.distrito }}</td>
              <td>{{ fechaApertura(sucursal) }}</td>
              <td>{{ fechaInicioGerencia(sucursal) }}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="editarSucursal(sucursal)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-primary border-danger bg-transparent" (click)="borrarSucursal(sucursal.nombre_sucursal)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
