/* You can add global styles to this file, and also import other style files */
html {
    margin: 0px;
    min-height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0px;
    min-height: 98vh;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/08/25/16/00/car-wash-1619823_1280.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
  }